:root {
    --primary-color: #EA5C0C;
}

.campo-ricerca {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.campo-ricerca .input {
    width: 100%;
    /* larghezza massima per desktop */
    max-width: 500px;
    background-color: #ccc;
    border: none;
    border-radius: 40px;
    padding: 14px 20px;
    font-size: 1.1rem;
    color: #000;
    outline-color: #a2a2a2;
    transition: background-color 0.2s ease;
}

/* ============ RESPONSIVE ============ */
@media (max-width: 768px) {
    .campo-ricerca .input {
        font-size: 0.9rem;
        padding: 10px 14px;
        max-width: 100%;
    }
}